<header class="navbar navbar-static-top">
  <div class="nav navbar-inverse">
    <ul class="nav navbar-nav">
      <li role="presentation" class="active"><%=link_to "Home", stash_engine.root_path %></li>
      <li role="presentation" class="active"><%=link_to "Search Data", main_app.catalog_index_path %></li>
      <li role="presentation" class="active"><%=link_to "Share Data", '#' %></li>
      <li role="presentation" class="active"><%=link_to "Dashboard", datacite_engine.generals_index_path %></li>
    </ul>
    <%= image_tag("stash_engine/stash_header.png", alt: "Responsive image", class: "img-responsive", width: "100%" ) %>
  </div>
</header>
