<!DOCTYPE html>
<html>
<head>
  <title>StashEngine</title>
  <%= stylesheet_link_tag    "stash_engine/application", media: "all" %>
  <%= javascript_include_tag "stash_engine/application" %>
  <%= stylesheet_link_tag "scaffold" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/stash_engine/header' %>
  <%= yield %>
  <%= render 'layouts/stash_engine/footer' %>
</body>
</html>
